# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/deviceManager.xml
/gradle.xml
/AndroidProjectSystem.xml
/compiler.xml
/deploymentTargetSelector.xml
/migrations.xml
/vcs.xml
/runConfigurations.xml
/inspectionProfiles/Project_Default.xml
